.item {
    width: 272px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    cursor:pointer;
    position: relative;
  }
 
  .img {
    width: 240px;
    height: 120px;
  }
  
  .price {
    display: flex;
    column-gap: 9px;
  }
  
  .description {
    text-align: center;
  }
  