.section {
    box-sizing: border-box;
    width: 50%;
    margin-top: 40px;
  }
  
  .main {
    overflow-y: scroll;
    max-height: calc(100vh - 230px);
 
    padding: 0;
  }

  .menu {
    display:flex;
    height: 56px;
  }
  
  .header {
    padding-bottom: 5px;
  }

  