.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .window {
    position: relative;
    z-index: 101;
    height: fit-content;
    width: fit-content;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 120px;
    width: 720px;
    height: fit-content;
    background-color: #1c1c21;
    border-radius: 40px;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
  }
  
 
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }